@use '../abstracts/' as *;

///////////////////////// HERO SECTION /////////////////////////
.hero-section {
  grid-column: 1 / -1;
  padding-block: 8.1875rem 2.3125rem;
  background-image: url(../assets/design/bg-hero-mobile.svg);
  background-color: hsl(var(--clr-primary-900-hsl));
  background-repeat: no-repeat;
  background-size: cover;

  @include respond(md) {
    padding-block: 10.4375rem 4.4375rem;
    background-image: url(../assets/design/bg-hero-desktop.svg);
    background-size: contain;
    background-position: 2rem 0rem;
  }

  &__container {
    --content-spacing: var(--size-900);

    padding-inline: 1.4375rem;

    @include respond(md) {
      padding-inline: 0.3125rem;
    }

    @include respond(lg) {
      --content-spacing: 4.0625rem;

      grid-auto-flow: column;
      align-items: center;
    }
  }

  &__content {
    --content-spacing: var(--size-500);

    justify-items: center;

    @include respond(lg) {
      --content-spacing: var(--size-600);

      justify-items: start;
      align-content: center;
      margin-top: 0.375rem;
    }
  }

  &__description {
    max-width: 50ch;
    margin-bottom: var(--size-200);
    font-size: var(--fs-400);

    @include respond(lg) {
      margin-bottom: 0;
      font-size: var(--fs-500);
    }
  }

  &__img {
    margin-inline: auto;

    @include respond(lg) {
      margin-right: 0.625rem;
    }
  }
}

///////////////////////// FEATURES SECTION /////////////////////////
.features-section {
  padding-block: 3.6875rem 7.5rem;

  @include respond(md) {
    padding-block: 10rem;
  }

  &__container {
    --content-spacing: var(--size-700);

    padding-inline: var(--size-200);

    @include respond(lg) {
      padding-inline: var(--size-500);
    }
  }
}

///////////////////////// CTA SECTION /////////////////////////
.cta-section {
  z-index: 1;
  margin-bottom: -4.1875rem;
  padding: 2.5625rem var(--size-300);
  border-radius: var(--size-400);
  background-color: hsl(var(--clr-neutral-900-hsl));
  box-shadow: 0 0 0.875rem 0 hsl(var(--clr-neutral-100-hsl), 7%);

  @include respond(md) {
    justify-self: center;
    margin-bottom: -6rem;
    min-width: 800px;
    padding: var(--size-900) 8.0625rem 3.25rem;
  }

  &__container {
    --content-spacing: var(--size-500);

    justify-items: center;

    @include respond(md) {
      --content-spacing: var(--size-600);
    }
  }

  &__heading {
    font-size: var(--fs-500);

    @include respond(md) {
      font-size: var(--fs-900);
    }
  }
}
